@import 'variables';

@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import './vendor/highlight';

body {
  padding-top: $navbar-height + 20px;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-brand {
  $logo-size: 41px;
  position: relative;
  padding-left: $logo-size + 10px;

  .logo {
    width: $logo-size;
    line-height: $logo-size;
    position: absolute;
    top: 2px;
    left: 10px;
    display: block;
    text-align: center;
    font-size: 30px;
  }
}

.text-overflow {
  @include text-overflow;
}

.nav-stacked > li {
  a {
    padding-right: 40px;

    .badge {
      position: absolute;
      right: 10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}

ul.nav-filters {
  li {
    a { color: inherit; }
    .badge {
      color: $text-color;
      background-color: darken($gray-lighter, 5%);
    }
    &.text-success {
      .badge { color: inherit; }
      &, &:hover { color: $brand-success; }
    }
    &.text-info {
      .badge { color: inherit; }
      &, &:hover { color: $brand-info; }
    }
    &.text-danger {
      .badge { color: inherit; }
      &, &:hover { color: $brand-danger; }
    }
  }

  a {
    &:hover { background-color: lighten($gray-lighter, 5%); }
    &.active {
      &, &:hover { background-color: $gray-lighter; }
    }
  }
}

.sidebar {
  width: $sidebar-width;
  position: fixed;
  top: $navbar-height + 20px;
  bottom: 0;
  overflow-y: auto;
}

.feed {
  margin-left: $sidebar-width + 20px;
}

@import 'job-card';
