@import 'variables';

.sidebar-nav {
  width: $sidebar-width;
  float: left;
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: $border-color;
}

.nav-link {
  display: block;
  background-color: white;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid $border-color;
  cursor: pointer;
  color: $light-text-color;

  &.is-active {
    color: #000;
    background-color: $active-color;
  }
  &:active {
    background-color: lighten($active-color, 5%);
  }
}

