@import './vendor/normalize';
@import './vendor/highlight';

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

$background-color: #ededed;

html {
  font-size: 62.5%;
}

html, body {
  background-color: $background-color;
}

body {
  color: #444;
  @include font-size(1.4);
}

.content-width {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.job-card {
  border-top: 3px solid;
  background-color: white;
  margin: 10px;
}

.job-card-content {
  padding: 10px;
  position: relative;
  .next-run-counter {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.job-card-name {
  @include font-size(1.6);
  font-weight: 200;
  margin: 0 0 10px;
}

.job-data-preview {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  word-wrap: normal;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  @include font-size(1.3);
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

