<header class='navbar navbar-default navbar-fixed-top'>
<div class='container'>
  <div class='navbar-header'>
    {{#link-to 'index' (query-params filter='future' job='all') class='navbar-brand'}}
      <span class='logo'>
        &#9997;
      </span>
      Agenda UI
    {{/link-to}}
  </div>

  <div class='navbar-text navbar-right'>
    {{#if pollInterval}}
      Polling for changes every {{pollInterval}}ms.
    {{else}}
      Not polling for changes.
    {{/if}}
  </div>
</div>
</header>
