{{partial 'header'}}

<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <ul class="nav nav-pills nav-stacked">

        {{#each definition in definitions}}
          {{nav-link
            model=definition
            action='setDefinition'
            currentDefinitionId=currentDefinition.id}}
        {{/each}}

      </ul>
    </div>

    <div class='col-md-9'>
      {{outlet}}
    </div>

  </div>
</div>
