<div class='job-card-content'>
  <h3 class='job-card-name'>
    {{name}}
  </h3>

  <div class='next-run-counter'>
    Next Run in {{nextRunAtFromNow}} seconds
  </div>

  <div class='job-data-preview'>
    {{highlight-object data null 2}}
  </div>
</div>

